name: ci

on:
  workflow_call:
  push:
    tags-ignore:
      - v*.*.*
    paths-ignore:
      - .github/**
      - README.md
      - LICENSE
      - .gitattributes
      - .gitignore
  pull_request:
    paths-ignore:
      - .github/**
      - README.md
      - LICENSE
      - .gitattributes
      - .gitignore

permissions:
  contents: read

jobs:
  ci:
    name: Test with Node.JS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: true
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm install
      - name: Run CI tests
        run: npm run test:ci
